#detail {
    margin-top: 30px;
    display: flex;
}

#detailImage img {
    width: 100%;
    border-radius: 10px;
}

#leftSide {
    width: 60%;
    margin-right: 30px;
}

.detailName {
    margin-top: 0px;
}

#basketCount {
    display: flex;
    align-items: center;
}

#basketCount * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    padding: 10px;
    font-size: 1.3em;
}

.addCountButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(255, 67, 67);
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.detailPrice {
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(255, 67, 67);
}

#goBasket {
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: rgb(255, 67, 67);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#detailRightTool {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

@media screen and (max-width: 1024px) {
    #detail {
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
    }

    #leftSide {
        width: 60%;
    }
}

@media screen and (max-width: 480px) {
    #detail {
        font-size: 1em;
    }
}