.product {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px;
}

.productData {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 0.5em;
    margin: 0;
    padding: 0 10px;
}

.price {
    font-size: 1.8em;
}

.name {
    font-weight: 400;
}

.detailButton {
    align-self: center;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    background-color: rgb(83, 83, 83);
    color: white;
    font-weight: bolder;
    font-size: 0.8;
}